
 .header{
        margin: 0 10%;
        font-size: small;
        text-align: center;
        text-transform: uppercase;
    }



#form-input {
    font-size: small;
}

#process-payment-button {
    font-size: xx-small;
}

