

.sign-up-container{
  margin: 10%auto;
  width: 380px;

  h6 {
    margin: 10px 0;
    font-size: small;
    text-transform: uppercase;
  }

  .btn {
    font-size: small;
    text-transform: uppercase;

  }

  input {
    font-size: small;
  }
}

.form-container {
  margin: 10%;
  font-size: small;
}